<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: white;
            margin: 0;
            padding: 0;
        }

        .email-container {
            max-width: 600px;
            margin: 20px auto;
            background: #f4f4f4;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            font-size: 0.8rem;

        }

        .logo-container {
            /* width: 100%; */
            padding: 5%;
            background-color: black;
            text-align: center;
        }

        .logo-container img {
            height: 60px;
        }

        .logo-container h1 {
            color: white;
            font-weight: 900;
            font-size: 40px;
            margin: 0;
        }

        .orange {
            color: #f47427;
        }

        .content {
            padding: 10% 5%;
            text-align: left;
        }

        .content h2 {
            color: #333;
        }

        .otp-code {
            font-size: 2rem;
            color: black;
            letter-spacing: 1rem;
            background-color: white;
            border: 1px solid black;
            font-weight: 600;
            padding: 1% 5%;
            margin: 50px auto;
            width: fit-content;
            border-radius: 5px
        }

        .footer {
            background-color: black;
            text-align: center;
            padding: 20px 10px;
            font-size: 12px;
            color: #E5E4E2;
        }

        .footer a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="email-container">
        <div class="logo-container">
            <img id="logo" src="https://res.cloudinary.com/dyhh1e3ir/image/upload/v1739549784/img-removebg-white_pdglu1.png" />
            <!-- <h1>MINUS01</span></h1> -->
        </div>

        <div class="content">
            <p>Hello,</h2>
            <p>Thank you for signing up. Please verify your email address by using the following OTP:</p>
            <div class="otp-code">{{otp}}</div>
            <p>This OTP is valid for <strong>10 minutes</strong>. Please do not share it with anyone.</p>
        </div>
        <div class="footer">
            <p>If you did not sign up for an account, please ignore this email or contact <a
                    href="mailto:streetjam@minus01.com">streetjam@minus01.com</a>.</p>
            <p>&copy; 2025 MINUS01</p>
        </div>
    </div>
    </div>
</body>

</html>